#doesnt-have-an-account {
  color: white;
  margin-top: 25px;
}

#doesnt-have-an-account a, #doesnt-have-an-account a:visited {
  text-decoration: underline;
  color: rgb(120, 214, 207);
}

.login-form {  
  margin: auto;
  padding: 0 20px 20px;
}
